<div class="container" style="margin-top: 60px;overflow-x:auto;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
              <td>{{student.id}}</td>
              <td>{{student.name}}</td>
              <td>{{student.email}}</td>
              <td>
                 <button class="btn" (click) ="selectStudent(student)" (click) ="toggleCollapse()">Show Details</button>
              </td>
              <td>
                 <button class="btn" (click) ="onDelete(student.id)">Delete Student</button>
             </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf = "!isCollapsed">
      <div class="card text-center" *ngIf="selectedStudent">
        <div class="card-header">
            # {{selectedStudent.id}}
        </div>
         <div class="card-block">
            <h4 class="card-title"> {{selectedStudent.name}} </h4>
            <p class="card-text">
               {{selectedStudent.description}}
            </p>
          </div>
      </div>
  </div>
</div>
