<div class="container-fluid main-container">
  <img src="assets/home.jpg" alt="home" class="home-img">
  <div class="angular-logo">
     <img src="assets/angular.png" alt="logo" class="logo-img">
   </div>
   <div class="home-text">
       <p class="mainp">Angular Certification</p>
       <p class="subsp">Angular is a platform and framework
         for building single-page client applications 
         using HTML and TypeScript. Angular is written
         in TypeScript. It implements core and optional 
         functionality as a set of TypeScript libraries 
         that you import into your apps.
        </p>
        <button>Explore more ➟</button>
   </div>
</div>
<div class="jumbotron j-no1">
  <h1 class="display">Welcome to the Course!</h1>
  <p class="lead">This course provides you certification along with an angular project.</p>
  <hr class="my-4">
  <div class=" row card-group">
    <div class="card">
      <img class="card-img-top" src="assets/component.png" alt="Card image cap" class="j-image" style="border-right: 1px solid #FF4D9A;">
      <div class="card-body">
        <h5 class="card-title">Angular Components</h5>
        <p class="card-text"> This tutorial will help you to learn angular components with practical examples step by step.</p>
        <a href="#" class="btn">Explore Tutorial➟</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/architecture.jpg" alt="Card image cap" class="j-image">
      <div class="card-body">
        <h5 class="card-title">Angular Architecture</h5>
        <p class="card-text">This tutorial will help you to learn angular's architecture with practical examples step  by step.</p>
        <a href="#" class="btn">Explore Tutorial➟</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/arch.jpg" alt="Card image cap" class="j-image">
      <div class="card-body">
        <h5 class="card-title">Angular CLI</h5>
        <p class="card-text">This tutorial will help you to learn about angular CLI its use its advantages with a lot of examples.</p>
        <a href="#" class="btn">Explore Tutorial➟</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron j-no2">
  <h1 class="display">Wanna Learn more??</h1>
  <p class="lead">We provide you a full training for becoming a front-end developer each course along with a certification.</p>
  <hr class="my-4">
  <p class="lead">Click on the button below to explore more about the courses and training.</p>
  <a class="btn" href="#" style="padding: 1%;">Explore Us➟</a>
</div>
